.container {
  background-color: #121212;
  backdrop-filter: blur(10px);
  width: 60%;
  height: 600px;
  display: flex;
}

.section1,
.section2 {
  flex: 1;
}
.section1 {
  width: 100%;
  cursor: pointer;
}

.section2 {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 3rem;
  flex: 1;
  align-content: center;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    height: 80%;
    flex-direction: column-reverse;
  }
  .title {
    font-size: 1.4rem;
  }
  .submitBtn {
    padding: 4px;
    font-size: 1rem;
  }
  .inputs {
    width: 100%;
  }
  .labelRow {
    font-size: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: 90%;
    height: 70%;
  }
  .title {
    font-size: 2rem;
  }
  .submitBtn {
    padding: 8px;
    font-size: 1.4rem;
  }
  .inputs {
    width: 90%;
  }
}
