.container {
  outline: 1px solid #1f2937;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.header {
  width: 100%;
  background-color: #1f2937;
  border-radius: 6px 6px 0px 0;
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 10px;
}

.description {
  font-family: "Consolas", Courier, monospace;
  padding: 10px;
  font-size: 14px;
  color: #22c55e;
  text-align: justify;
}

.icon1 {
  fill: #ef4444;
  height: 16px;
  width: 16px;
}

.icon2 {
  fill: #eab308;
  height: 16px;
  width: 16px;
}

.icon3 {
  fill: #22c55e;
  height: 16px;
  width: 16px;
}
