.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.left,
.rigth {
  flex: 1;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.rigth {
  background-image: url("/Portfolio/ilustracion.jpg");
  background-size: cover;
  background-position: center;
}

.img {
  width: auto;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.typingEffect {
  margin-top: 4%;
  font-size: 1.2rem;
  font-family: "Courier New", Courier, monospace;
  /* Fuente tipo máquina de escribir */
  white-space: nowrap;
  /* Para evitar que se rompa la línea */
  overflow: hidden;
  /* Oculta el texto mientras se escribe */
  border-right: 0.1em solid var(--color-red);
  /* Cursor de la máquina de escribir */
  display: inline-block;
  /* Hace que no se expanda el contenedor */
  animation: typing 8s steps(60) 1s forwards,
    blink-caret 0.75s step-end infinite;
  /* Ajustado para hacer que se vea lento */
}

@keyframes typing {
  from {
    width: 0;
    /* Comienza con el texto oculto */
  }

  to {
    width: 33ch;
    /* Se expande al 100% de su contenido */
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
    /* Hace que el cursor parpadee */
  }
}

.rigth {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) {
  .container {
    background: url("/ilustracion.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .rigth {
    display: none;
  }

  .typingEffect {
    font-size: 0.8rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .container {
    background: url("ilustracion.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .rigth {
    display: none;
  }
}