.nav {
  padding: 3rem;
}

.separator {
  border-width: 0px 2px 0px 0px;
  border-color: white;
  border-style: solid;
  height: 2rem;
  margin-top: 4px;
}

.nav ul {
  display: flex;
  gap: 2rem;
}

.nav li {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  height: 50px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  transition: color 0.3s ease;
  height: 100%;
}

.nav a:hover {
  color: var(--color-spring-bud);
  font-weight: 700;
}

.nav a.active {
  color: var(--color-spring-bud);
  font-weight: 700;
  border: none;
  border-bottom: 4px solid var(--color-spring-bud);
}

@media (max-width: 768px) {
  .nav {
    padding: 1rem;
  }
  .nav a {
    font-size: 1.2rem;
  }
  .nav ul {
    gap: 1rem;
  }
  .nav li {
    height: 30px;
    gap: 1rem;
  }
  .separator {
    height: 1.2rem;
    margin-top: 4px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .nav {
    padding: 0.8rem;
  }
  .nav a {
    font-size: 1.5rem;
  }
  .nav li {
    height: 34px;
  }
  .separator {
    height: 1.5rem;
  }
}
