.container {
  width: 100%;
  height: 100%;
}
.containerLogo {
  align-self: flex-start;
  margin-bottom: 20px;
}
.logo {
  fill: var(--color-sky-blue);
}

.content {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.title {
  font-size: 3rem;
  font-weight: 800;
}

.separator {
  border-width: 1px 0px 0px 0px;
  width: 10%;
  border-color: var(--color-sky-blue);
  border-style: solid;
  height: 1.2rem;
  align-self: flex-start;
}
.description {
  max-width: 500px;
  color: var(--color-grey);
  font-size: 1.8rem;
  text-align: left;
}

@media (max-width: 768px) {
  .title {
    font-size: 2.4rem;
  }
  .description {
    font-size: 1.2rem;
  }
  .content {
    gap: 8px;
  }
  .containerLogo {
    margin-bottom: 0;
  }
  .logo {
    width: 70px;
    height: 70px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .title {
    font-size: 2.4rem;
  }
  .description {
    font-size: 1.2rem;
  }

  .content {
    gap: 8px;
  }
  .containerLogo {
    margin-bottom: 0;
  }
  .logo {
    width: 70px;
    height: 70px;
  }
}
